{% extends '_base.html.jinja' %}

{% block content %}

<h1>Middlesex County, Massachusetts</h1>

<p>
For less noisy data see <a href="../boston/">Core Boston Metro Area</a>.
</p>

{{include_raw('_build/R/middlesex.html')}}

{% endblock content %}

