{% extends '_base.html.jinja' %}

{% block content %}

<h1>Middlesex County, Massachusetts</h1>

<p>
For less noisy data see <a href="../boston/">Core Boston Metro Area</a>.
</p>

<div>Top three questions:</div>
<ul>
<li>Q1: Is an outbreak starting?</li>
<li>Q2: How dangerous is it now?</li>
<li>Q3: 
  How close are we to the <a href="https://en.wikipedia.org/wiki/Herd_immunity">herd immunity threshold</a>?
</li>
</ul>

{{include_raw('_build/R/middlesex.html')}}

{% endblock content %}

