{% extends '_base.html.jinja' %}

{% block more_head %}
<style>
div.news {
  padding: 0.5rem;
  background-color: #eee;
  margin: 1rem;
}
span.date {
  margin-right: 1rem;
  font-weight: bold;
}
</style>
{% endblock more_head %}


{% block content %}

<h2 style="text-align: center">Lexington</h2>

<div class="news">
<b>Note:</b>
I am no longer updating this page.
</div>

<p>
Visit
<ul>
<li><a href="https://www.lexingtonma.gov/home/pages/covid-19-data-lexington">
Lexington Public Health COVID-19 Data</a></li>
<li>or <a href="../middlesex/">Middlesex County</a></li>
<li>or <a href="../boston/">Core Boston Metro Area</a></li>
</ul>
</p>

{% endblock content %}

