{% extends '_base.html.jinja' %}

{% block more_head %}
<style>
div.news {
  padding: 0.5rem;
  background-color: #eee;
  margin: 1rem;
}
span.date {
  margin-right: 1rem;
  font-weight: bold;
}
</style>
{% endblock more_head %}


{% block content %}

<h2 style="text-align: center">Lexington</h2>

<div class="news">
<b>Note:</b>
Town of Lexington reports that
"Due to the decline in new cases, beginning the week of June 29, we will be
reporting case numbers on a weekly basis, rather than daily."
</div>

<div class="news">
<b>Note:</b>
After late June, 
most of the statistics on this page will too be noisy
due to weekly data updates and low case levels.
</div>

<p>
For more analysis and less noisy data
see <a href="../boston/">Core Boston Metro Area</a>
or <a href="../middlesex/">Middlesex County</a>.
</p>

{{include_raw('_build/R/lex.html')}}

<p>
For more analysis and less noisy data <a href="../middlesex/">see Middlesex County</a>.
</p>

{% endblock content %}

