{% extends '_base.html.jinja' %}

{% block more_head %}
<style>
main h1 {
 text-align: center;
}
</style>
{% endblock %}

{% block content %}

<h1>How dangerous is COVID-19?</h1>

<p>
<a href="history.html">A historical perspective</a>
gives a sense of how the current danger compares to past levels.
</p>

<p>Separating the danger into two kinds can address the question
"<a href="two-dangers.html">Does social distancing mean I am in danger?</a>"
</p>


{% endblock content %}

