{% extends '_base.html.jinja' %}

{% block content %}

<h2 style="text-align: center; margin-bottom: 24px">Favorite reports by others</h2>

<ul>
<li>
  <a href="http://www.mwra.com/biobot/biobotdata.htm">Boston Area Wastewater COVID-19 Tracking</a>
</li>
<li>
  <a href="https://epiforecasts.io/covid/posts/national/united-states/">growth rate estimates at epiforecasts.io</a>
(and <a href="https://mrc-ide.github.io/covid19-short-term-forecasts/index.html#projections-and-effective-reproduction-number-estimates">alternative growth rate estimates</a>)
</li>
<li>
  <a href="https://coronavirus.jhu.edu/us-map">US map by county</a>
</li>
<li>
  <a href="owid.html">favorite ourworldindata plots</a>
</li>
</ul>

{% endblock content %}

