{% extends '_base.html.jinja' %}

{% block content %}

<h2 style="text-align: center; margin-bottom: 24px">More reports by others</h2>

<ul>
<li>
  <a href="https://covid19.apple.com/mobility">Apple Mobility Trends</a>
</li>
<li>
  <a href="https://www.microcovid.org/">microCOVID risk calculator</a>
</li>
<li>
  <a href="https://coronavirus.jhu.edu/us-map">US map by county</a>
</li>
<li>
  <a href="https://usafacts.org/covid-recovery-hub/">Covid Recovery (usafacts.org)</a>
</li>
</ul>

{% endblock content %}

