{% extends '_base.html.jinja' %}

{% block more_head %}
<style>
</style>
{% endblock %}


{% block content %}

<p><a href="./risk/history.html">Historical Perspective On COVID-19 Risk</a></p>

<p><a href="https://ourworldindata.org/explorers/coronavirus-data-explorer?zoomToSelection=true&time=2021-01-01..latest&pickerSort=asc&pickerMetric=location&hideControls=true&Metric=Confirmed+cases&Interval=7-day+rolling+average&Relative+to+Population=true&Align+outbreaks=false&country=ISR~European+Union~ESP~USA~GBR~PRT">
US, Israel, Spain, UK, Portugal, EU</a>
</p>

<div>Metro Areas:</div>
<ul>
<li><a href="middlesex/">Middlesex County, Massachusetts</a></li>
<li><a href="boston/">Boston Metro Area</a></li>
<li><a href="newyork/">New York City, NY</a></li>
<li><a href="longisland/">Long Island, NY</a></li>
<li><a href="lancaster/">Lancaster, PA</a></li>
<li><a href="dc/">Washington DC Metro Area</a></li>
<li><a href="keywest/">The Florida Keys</a></li>
<li><a href="sf/">San Francisco</a></li>
</ul>

<p>
  <a href="http://www.mwra.com/biobot/biobotdata.htm">Boston Area Wastewater COVID-19 Tracking</a>
</p>

<p><a href="https://www.lexingtonma.gov/home/pages/covid-19-data-lexington">
Lexington Public Health COVID-19 Data</a></p>

<a href="https://epiforecasts.io/covid/posts/global/">growth rate estimates at epiforecasts.io</a>:
<ul>
<li><a href="https://epiforecasts.io/covid/posts/national/united-states/">US</a></li>
<li><a href="https://epiforecasts.io/covid/posts/national/israel/">Israel</a></li>
<li><a href="https://epiforecasts.io/covid/posts/national/united-kingdom/">UK</a></li>
<li><a href="https://epiforecasts.io/covid/posts/national/portugal/">Portugal</a></li>
</ul>

<p>
  <a href="https://ourworldindata.org/grapher/us-covid-share-fully-vaccinated?tab=chart&stackMode=absolute&country=Massachusetts~USA~Pennsylvania~New+York+State~Vermont~New+Hampshire~Maine~Connecticut~Rhode+Island~New+Jersey~Maryland">
  % US fully vaccinated (by state)</a>
</p>

<p><a href="./fav.html">More Reports By Others</a></p>

<h4>Old Content</h4>

<p><a href="seasonal.html">Risk of COVID-19 infection higher this fall/winter than summer</a> (2020)</p>

{% endblock content %}

