{% extends '_base.html.jinja' %}

{% block more_head %}
<style>
</style>
{% endblock %}


{% block content %}

<p><a href="hiltonhead/">Hilton Head SC Metro Area</a></p>

<p><a href="sf/">San Francisco</a></p>

<p><a href="middlesex/">Middlesex County, Massachusetts</a></p>

<p><a href="boston/">Boston Metro Area</a></p>

<p><a href="keywest/">The Florida Keys</a></p>

<p><a href="dc/">Washington DC Metro Area</a></p>

<p><a href="newyork/">New York City, NY</a></p>

<p><a href="longisland/">Long Island, NY</a></p>

<p><a href="lancaster/">Lancaster, PA</a></p>

<p><a href="lex/">Lexington, Massachusetts</a></p>

<p><a href="./risk/">How dangerous is COVID-19?</a></p>

<p><a href="./fav.html">Favorite Reports By Others</a></p>

<hr>
<p><small>
Some data is from
<a href="https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html"> The New York Times</a>,
based on reports from state and local health agencies.
</small></p>

{% endblock content %}

