{% extends '_base.html.jinja' %}

{% block content %}

<h2 style="text-align: center">Long Island (Nassau & Suffolk Counties) NY</h2>

{{include_raw('_build/R/longisland.html')}}

{% endblock content %}

